<div id="body">
    <div id="register">
        <h3 class="text-center text-white pt-5"> </h3>
        <div class="container">
            <div id="register-row" class="row justify-content-center align-items-center">
                <div id="register-column" class="col-md-6">
                    <div id="register-box" class="col-md-12">
                        <form [formGroup]="registerForm" id="register-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Registration Details for SignUp</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">*UserName:</label><br>
                                <input type="text" placeholder="Enter Name" class="form-control" name="username"
                                    formControlName="username">
                            </div>
                            <div class="alert alert-danger"
                                *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched">
                                <div *ngIf="registerForm.get('username').hasError('required')">
                                    <b>Error:</b> This field is required.
                                </div>
                                <div *ngIf="registerForm.get('username').hasError('minlength')">This field is required
                                    minimum 4 characters.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">*Password:</label><br>
                                <input type="password" placeholder="Enter Password" class="form-control" name="password"
                                    formControlName="password" (keyup)="setValidator()">
                            </div>
                            <div class="alert alert-danger"
                                *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
                                <div *ngIf="registerForm.get('password').hasError('required')">
                                    <b>Error:</b> This field is required.
                                </div>
                                <div *ngIf="registerForm.get('password').hasError('minlength')">This field is required
                                    minimum 8 characters.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword" class="text-info">*Confirm Password:</label><br>
                                <input type="password" placeholder="Confirm Password" class="form-control"
                                    name="confirmPassword" formControlName="confirmPassword" (keyup)="setValidator()">
                            </div>
                            <div class="alert alert-danger"
                                *ngIf="registerForm.get('confirmPassword').invalid && registerForm.get('confirmPassword').touched">
                                <div *ngIf="registerForm.get('confirmPassword').hasError('required')">
                                    <b>Error:</b> This field is required.
                                </div>
                                <div *ngIf="registerForm.get('confirmPassword').hasError('minlength')">This field is
                                    required minimum 8 characters.
                                </div>
                                <div *ngIf=" registerForm.get('confirmPassword').hasError(
                                        'confirmPasswordValidator')"
                                        >
                                    <strong>Error!</strong> password does not match.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="text-info">*Email:</label><br>
                                <input type="email" placeholder="Enter Email" class="form-control" name="email"
                                    formControlName="email">
                            </div>
                            <div class="alert alert-danger"
                                *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
                                <div *ngIf="registerForm.get('email').hasError('required')">
                                    <b>Error:</b> This field is required.
                                </div>
                                <div *ngIf="registerForm.get('email').hasError('minlength')">This field is required
                                    minimum 6 characters.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="dob" class="text-info">*DOB:</label><br>
                                <input type="date" placeholder="Enter DOB" class="form-control" name="dob"
                                    formControlName="dob">
                            </div>
                            <div class="alert alert-danger"
                                *ngIf="registerForm.get('dob').invalid && registerForm.get('dob').touched">
                                <div *ngIf="registerForm.get('dob').hasError('required')">
                                    <b>Error:</b> This field is required.
                                </div>
                                <div *ngIf="registerForm.get('dob').hasError('minlength')">This field is required
                                    minimum 8 characters.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="number" class="text-info">*Telephone No:</label><br>
                                <input type="number" placeholder="Enter Telephone Number" class="form-control"
                                    name="number" formControlName="number">
                            </div>
                            <div class="alert alert-danger"
                                *ngIf="registerForm.get('number').invalid && registerForm.get('number').touched">
                                <div *ngIf="registerForm.get('number').hasError('required')">
                                    <b>Error:</b> This field is required.
                                </div>
                                <div *ngIf="registerForm.get('number').hasError('minlength')">This field is required
                                    minimum 10 characters.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="number" class="text-info">*Access Level:</label><br>

                                <select id="role" class="form-control lastBtn" placeholder="Select Access Level"
                                    name="role" formControlName="role">
                                    <option value="1">Full Access</option>
                                    <option value="2">Read Only</option>
                                </select>
                            </div>
                            <div *ngIf="registerForm.get('role').invalid && registerForm.get('role').touched">
                                <div class="alert alert-danger"  *ngIf="registerForm.get('role').hasError('required')">
                                    <b>Error:</b> This field is required.
                                </div>
                            </div>
                            
                            
                              <!-- <div class="alert alert-danger" *ngIf="apiFlag && !apiSuccess"> 
                                <strong>Error!</strong> 
                              </div>-->
                               <div class="alert alert-success" *ngIf="apiFlag && apiSuccess">
                                <strong>Success!</strong> Registration successful !!
                                <a routerLink="/auth/login">Back to Login</a>
                              </div> 
                             
                            <div class="form-group">
                                <button class="text-info" (click)="clearFun()"
                                    class="btn btn-secondary btn-md">Clear</button>
                            </div>

                            <div id="submit-link" class="text-right">
                                <button type="submit" (click)="submitForm()" name="submit"
                                    class="btn btn-info btn-md">Submit</button>

                            </div>
                            <div id="login-link">
                                <a [routerLink]="['/auth/login']" class="btn text-primary btn-md">Back to login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>