#body {
    margin: 0;
    padding: 20px;
    background-color: #17a2b8;//#17a2b8
    height: 650px;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 80px;
    max-width: 600px;
    height: auto;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #submit-link {
    margin-top: -53px;
  }
  #login .container #login-row #login-column #login-box #login-form #forgot-register {
    margin-top: 25px;
  }
  .errorShow{
      color: rgb(192, 99, 99);
    background-color:rgb(255, 192, 203);
    border:1px solid pink;
    border-radius: 5px;
    height: 35px;
    padding: 5px;
  }