

ng-sidebar-container{
    height: 100vh;
    text-decoration-color: white;
   
}

::ng-deep .ng-sidebar{
    background-color: black;//#f4f4f4
    width:20%;
    padding: 1em;
    box-shadow: 0 0 2.5em rgba(85,85,85,0.5);
    color: white;
    
}
.rightPanel{

        width:79%;
        height: auto;
        padding: 5px;
}
.iconClass{
    font-size: 30px
}

.menu{
    margin-top: 2em;
    display: block;
    
}
.menu li{
    margin-top: 15px;
}

.menu li a{
    display:block;
    width: 100%;
    color: white;
    margin-top: 10px;
}