#body {
    margin: 0;
    padding: 20px;
    background-color: #17a2b8;//#17a2b8
    height: 620px;
  }
  #forgot .container #forgot-row #forgot-column #forgot-box {
    margin-top: 80px;
    max-width: 600px;
    height: auto;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #forgot .container #forgot-row #forgot-column #forgot-box #forgot-form {
    padding: 20px;
  }
  
  #forgot .container #forgot-row #forgot-column #forgot-box #forgot-form #submit-link {
    margin-top: 25px;
  }
  #forgot .container #forgot-row #forgot-column #forgot-box #forgot-form #login-link {
    margin-top: 25px;
  }
 